<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Painel</title>
</head>
<body>
    <h1>Movies</h1>
    {% if login %}
    <table>
    {% for imdb, url  in items %}
    <tr>
    <td>Imdb: {{imdb}}</td>
    <td>url: {{url}}</td>
    </tr>
    {% endfor %}
    </table>
    {%else%}
    Please login here {{ session['username'] }} <br />
    <a href={{ url_for('login') }}>login</a>
    {% endif %}
</body>
</html>

    